{% extends "baseHome.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12-md mb-5">
            <div class="card mb-3 mt-5">
                <div class="card-header text-center">
                    <h3>Bodega</h3>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-center">Productos bodega</h5>
                    <table class="table align-middle mb-0 bg-white">
                        <thead class="bg-light">
                            <tr>
                                <th>Nombre producto/Código</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in productos %}
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <img src="https://musicpro.bemtorres.win/assets/productos/{{producto.id}}.png" alt=""
                                            style="width: 45px; height: 45px" class="rounded-circle" />
                                        <div class="ms-3">
                                            <p class="fw-bold mb-1">{{ producto.nombre }}</p>
                                            <p class="text-muted mb-0">{{ producto.codigo }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="fw-normal mb-1" id="descripcion" style="text-align: justify;">{{ producto.descripcion }}</p>
                                </td>
                                <td>
                                    <p class="fw-normal mb-1">${{ producto.precio }}</p>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <a href="../" class="btn btn-primary">Volver al Home</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}