{% extends "baseHome.html" %}
{% load static %}

{% block title %}Productos{% endblock %}

{% block content %}

{% load humanize %}
<div class="container">
    <h1 class="py-4" id="tituloGestion">Gestión de Productos</h1>
    <div class="row">
        <div class="col-sm-4">

            <!-- Botón abrir modal agregar producto-->
            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#productoModal"
                id="btnModal">
                Agregar producto
                <i class="fa-regular fa-plus"></i>
            </button>

            <!-- Modal -->
            <div class="modal fade" id="productoModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Agregar producto</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="card">
                            <form action="/registrarProducto/" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <input type="file" class="form-control" id="fileImagen" name="imagen" required>
                                        </div>
                                        <div>
                                            <div class="form-group">
                                                <input type="text" id="nombre" name="nombre" class="form-control"
                                                    placeholder="Nombre" minlength="3" maxlength="50" required>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <input type="textarea" id="descripcion" name="descripcion"
                                                    class="form-control" placeholder="Descripción" minlength="3"
                                                    maxlength="100" required>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <input type="number" id="precio" name="precio" class="form-control"
                                                    placeholder="Precio" min="1000" max="9999999" required>
                                            </div>
                                            <br>
                                            <div class="form-group">
                                                <input type="number" id="cantidad" name="cantidad" class="form-control"
                                                    placeholder="Cantidad" min="1" max="999" required>
                                            </div>
                                            <div class="form-group">
                                                <select id="tipo_instrumento" name="tipo_instrumento" class="form-control" required>
                                                    <option value="">Seleccione un tipo de instrumento</option>
                                                    <option value="Cuerda">Cuerda</option>
                                                    <option value="Viento">Viento</option>
                                                    <option value="Percusión">Percusión</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer text-center">
                                        <button type="submit" class="btn btn-success btn-block">Agregar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin modal agregar producto-->

    <!-- Modal edit producto -->
    {% for producto in productos %}
    <div class="modal fade" id="editProductoModal-{{forloop.counter}}" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Editar producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="card">
                    <form action="/editarProducto/{{producto.id}}/" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="card-body">
                                <div class="form-group">
                                    <input type="file" class="form-control" id="fileImagen" name="imagen" required>
                                </div>
                                <br>
                                <div>
                                    <div class="form-group">
                                        <input type="text" id="nombre" name="nombre" class="form-control"
                                            placeholder="Nombre" minlength="3" maxlength="50"
                                            value="{{producto.nombre}}" required>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <input type="textarea" id="descripcion" name="descripcion" class="form-control"
                                            placeholder="Descripcion" minlength="3" maxlength="100"
                                            value="{{producto.descripcion}}" required>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <input type="number" id="precio" name="precio" class="form-control"
                                            placeholder="Precio" min="1000" max="9999999" value="{{producto.precio}}"
                                            required>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <input type="number" id="cantidad" name="cantidad" class="form-control"
                                            placeholder="Cantidad" min="1" max="999" value="{{producto.cantidad}}"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <select id="tipo_producto" name="tipo_producto" class="form-control" required>
                                            <option value="">Seleccione un tipo de producto</option>
                                            <option value="Cuerda" {% if producto.tipo_producto == 'Cuerda' %}selected{% endif %}>Cuerda</option>
                                            <option value="Viento" {% if producto.tipo_producto == 'Viento' %}selected{% endif %}>Viento</option>
                                            <option value="Percusión" {% if producto.tipo_producto == 'Percusión' %}selected{% endif %}>Percusión</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer text-center">
                                <button type="submit" class="btn btn-success btn-block">Modificar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Fin modal edit  producto-->

    <div class="row">
        <div class="col-12-md">
            <div class="card mb-3 mt-3">
                <div class="card-header text-center">
                    <h3 id="tituloCardGestion">Lista productos</h3>
                </div>
                <div class="card-body">
                    <table class="table align-middle mb-0 bg-white">
                        <thead class="bg-light">
                            <tr>
                                <th>Nombre producto</th>
                                <th>Descripción</th>
                                <th>Precio</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for producto in productos %}
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        {% if producto.imagen %}
                                        <img src="{{producto.imagen.url}}" class="rounded" alt="..."
                                            id="imgCardRounded">
                                        {% else %}
                                        <img src="{% static 'img/bitmap.png' %}" class="rounded" alt="..."
                                            id="imgCardRounded">
                                        {% endif %}
                                        <div class="ms-3">
                                            <p class="fw-bold mb-1">{{ producto.nombre }}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="fw-normal mb-1" id="descripcion" style="text-align: justify;">
                                        {{producto.descripcion | capfirst}}</p>
                                </td>
                                <td>
                                    <p class="fw-normal mb-1">${{ producto.precio | intcomma:False }}</p>
                                </td>
                                <td>
                                    <form action="/eliminarProducto/{{producto.id}}" method="get">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-danger"
                                            aria-label="Eliminar">Eliminar</button>
                                    </form>
                                    <!-- Botón abrir modal edit -->
                                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal"
                                        data-bs-target="#editProductoModal-{{forloop.counter}}" id="btnModalEdit">
                                        Editar
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-center">
                    <a href="../" class="btn btn-primary">Volver al Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}