{% extends "baseHome.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Estamos en home</h1>

<div class="d-flex flex-column flex-md-row p-3 gap-3 py-md-4 align-items-center justify-content-center">
<!-- <div class="container">
    <div class="row flex-column">
        <div class="col"> -->
            <div class="card" style="width: 15rem;">
                <img src="https://t2.ea.ltmcdn.com/es/posts/7/4/3/como_ayudar_a_un_gatito_a_defecar_20347_orig.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre Producto</h5>
                    <p class="card-text">aqui va la descripcion. a aaaaaa aaaaaaaa aaaaa aaa a aaaaa aaaaaaaaaa aaaa</p>
                    <button type="button" class="btn btn-outline-success" aria-label="Close">Carrito<i
                            class="bi bi-person-circle"></i></button>
                </div>
            </div>

            <div class="card" style="width: 15rem;">
                <img src="https://t2.ea.ltmcdn.com/es/posts/7/4/3/como_ayudar_a_un_gatito_a_defecar_20347_orig.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre Producto</h5>
                    <p class="card-text">aqui va la descripcion. a aaaaaa aaaaaaaa aaaaa aaa a aaaaa aaaaaaaaaa aaaa</p>
                    <button type="button" class="btn btn-outline-success" aria-label="Close">Carrito<i
                            class="bi bi-person-circle"></i></button>
                </div>
            </div>

            <div class="card" style="width: 15rem;">
                <img src="https://t2.ea.ltmcdn.com/es/posts/7/4/3/como_ayudar_a_un_gatito_a_defecar_20347_orig.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre Producto</h5>
                    <p class="card-text">aqui va la descripcion. a aaaaaa aaaaaaaa aaaaa aaa a aaaaa aaaaaaaaaa aaaa</p>
                    <button type="button" class="btn btn-outline-success" aria-label="Close">Carrito<i
                            class="bi bi-person-circle"></i></button>
                </div>
            </div>

            <div class="card" style="width: 15rem;">
                <img src="https://t2.ea.ltmcdn.com/es/posts/7/4/3/como_ayudar_a_un_gatito_a_defecar_20347_orig.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre Producto</h5>
                    <p class="card-text">aqui va la descripcion. a aaaaaa aaaaaaaa aaaaa aaa a aaaaa aaaaaaaaaa aaaa</p>
                    <button type="button" class="btn btn-outline-success" aria-label="Close">Carrito<i
                            class="bi bi-person-circle"></i></button>
                </div>
            </div>

            <div class="card" style="width: 15rem;">
                <img src="https://t2.ea.ltmcdn.com/es/posts/7/4/3/como_ayudar_a_un_gatito_a_defecar_20347_orig.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nombre Producto</h5>
                    <p class="card-text">aqui va la descripcion. a aaaaaa aaaaaaaa aaaaa aaa a aaaaa aaaaaaaaaa aaaa</p>
                    <button type="button" class="btn btn-outline-success" aria-label="Close">Carrito<i
                            class="bi bi-person-circle"></i></button>
                </div>
            </div>
        <!-- </div>
    </div> -->
</div>


{% endblock %}