footer{
    background-color: #ffede7;
}

h5 {
    letter-spacing: 2px;
    color: #7f4722;
}

a {
    color: #4f4f4f;
}

#productostext {
  text-align: center;
}

#copyright {
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-scroll .nav-link,
.navbar-scroll .fa-bars,
.navbar-scroll .navar-brand {
  color: #4f4f4f;
}

.navbar-scroll .nav-link:hover {
  color: #f1d012;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .fa-bars,
.navbar-scrolled .navar-brand {
  color: #4f4f4f;
}

.navbar-scroll,
.navbar-scrolled {
  background-color: #fff;
}

body {
  background-color: #eee;
}

.dropdown-menu {
    width: 300px !important;
}

#containerNav {
  margin-right: 7rem;
}

#titulo {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #7f4722;
  padding-top: 2rem;
}

#tituloProductos, #tituloGestion {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #977c7c;
  padding-top: 1rem;
}

#cardProductos {
  width: 15rem;
  height: 30rem;
  margin: 20px;
}

#cardGestionProductos {
  width: 15rem;
  height: 30rem;
}

#imgCard {
  height: 14em;
}

#nombre {
  margin-top: 1.5rem;
}

#btnModal {
  border-radius: 12px;
}

#imgCardRounded {
  width: 45px;
  height: 45px;
}

#btnModalEdit {
  width: 5.2rem;
  height: auto;
  margin-top: 1rem;
}

#tituloCardDatos, #tituloDatosEnvio {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #977c7c;
}

#centrar {
  margin-left: 21rem;
}

#labelNombre, #labelApellido, #labelCorreo, #labelDireccion {
  margin-bottom: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #645656;
}